body {
  background: #141414;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
  padding: 12px;
  letter-spacing: 0.1em;
}
.hero h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  font-style: normal;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 200;
  font-style: normal;
}
h1,
h2,
h3,
p {
  color: white;
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.btn-branding {
  color: #272142;
  background-color: white;
  padding: 18px 30px;
  width: 200px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px;
}
.hero-text {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.footer {
  color: white;
  font-size: 16px;
  color: white;
  font-weight: 200;
}
i {
  padding: 4px;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }
  p {
    max-width: 97%;
  }
  .image-col {
    display: none;
  }
  .btn-branding {
    padding: 10px 15px;
    margin: 15px;
  }
  .footer {
    font-size: 8px;
  }
  .social {
    font-size: 30px;
  }
}
